<html xmlns:th="http://www.thymeleaf.org">

<style>
	.simplmargin { margin: 0 0 15px }
	.zeromargin { margin: 0 }
	.tlabel { width: 120px; background-color: #f7f7f7; }
	.tvalue { min-width: 120px; max-width: 150px; }
	.tdnum { width: 120px; }
	.tdval { min-width: 120px; max-width: 150px; }
	.tdscore { width: 120px; }
	.tdsource { width: 250px; }
	.table-fixed { max-height: 300px; overflow-y: auto; }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Person Infomation</h4>
</div>

<div class="modal-body">
    <div class="row">
    	<article class="col-sm-12">    		
    		<div class="jarviswidget jarviswidget-color-blueDark simplmargin" id="wid-id-person-head" data-widget-colorbutton="false" data-widget-editbutton="false">    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-info"></i> </span>
					<h2>Person Infomation</h2>
				</header>	
							
				<div>
					<div class="widget-body no-padding">						
						<table id="user" class="table table-bordered" style="clear: both">
							<tbody>
								<tr>
									<td class="tlabel">Name</td>
									<td class="tvalue" colspan="5" id="name"></td>
								</tr>
								<tr>
									<td class="tlabel">Birthday</td>
									<td class="tvalue" colspan="5" id="birthday"></td>
								</tr>
								<tr>
									<td class="tlabel">Job</td>
									<td class="tvalue" colspan="5" id="job"></td>
								</tr>
							</tbody>
						</table>					
					</div>
				</div>				
			</div>
			
			<div class="jarviswidget jarviswidget-color-blueDark simplmargin" id="wid-id-person-head" data-widget-colorbutton="false" data-widget-editbutton="false">    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Profile</h2>
				</header>	
							
				<div>
					<div class="widget-body no-padding">
						<div class="table-responsive table-fixed">
							<table id="user" class="table table-bordered" style="clear: both">
								<tbody>
									<tr>
										<td class="tvalue" id="profile"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>				
    		</div>

    		<div class="jarviswidget jarviswidget-color-blueDark zeromargin" id="wid-id-person-head" data-widget-colorbutton="false" data-widget-editbutton="false">    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Filmography</h2>
				</header>	
							
				<div>
					<div class="widget-body no-padding">
						<div class="table-responsive table-fixed">
							<table id="filmoTable" class="table table-bordered">
								<thead>
									<tr>
										<th style="width: 10%;">No.</th>
										<th style="width: 40%;">Title</th>
										<th style="width: 10%;">Year</th>
										<th style="width: 40%;">Director</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>				
    		</div>
    		
    	</article>    	
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$.get("/rest/person/info/[[${params.id}]]").done(function(resp) { 
		    if(resp.success) {
		    	var data = resp.data;
		    	
		    	$('#name').text(data.name);
		    	$('#birthday').text(data.birthday);
		    	$('#job').text(data.job);
		    	$('#profile').text(data.profile);
		    	
		    	var html = '';
		    	
		    	for(var i in data.filmo) {
		    		var row = data.filmo[i];
		    		
					html += '<tr>';
					html += '<td class="tdnum">' + (Number(i) + 1) + '</td>';
					html += '<td><span class="link-keyword" onclick="javascript:goM2PPop(\'' + row.movieId + '\');">' + row.movieTitle + '</span></td>';
					html += '<td class="tdval">' + row.movieYear + '</td>';
					html += '<td>'+$.common.link(row.movieDirector, ',', 'goP2PPop')+'</td>';
					html += '</tr>';
		    	};
		    	
		    	$('#filmoTable > tbody').html(html);
		    } else {
		    	alert(resp.message);
		    }
		});
	});
	
	goM2PPop = function(movieId) {
		$.get('/rest/movie/infoByMovieId/' + movieId).done(function(resp) {
			if(resp.success) {
				$("#person_modal").modal("hide").find('.modal-content').empty();
				$('#movie_modal').modal('show').find('.modal-content').load('/page', {
					url : 'view/remote/movie_modal.html',
					id : resp.data.id
				});
			} else {
				alert(resp.message);
			}
		});
	}
	
	goP2PPop = function(name) {
		$('#person_modal').modal('hide').find('.modal-content').empty();
		$('#person_list_modal').modal('show').find('.modal-content').load('/page', {
			url : 'view/remote/person_list_modal.html',
			name : name
		});
	}
</script>

</html>