<html xmlns:th="http://www.thymeleaf.org">

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-person"
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="false"
				data-widget-sortable="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Person List</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget content -->
					<div id="dt_person_widget" class="widget-body no-padding">
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<!-- Modal -->
<div class="modal fade" id="person_modal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="person_list_modal" tabindex="-1" role="dialog" aria-labelledby="personListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<!-- content body here... -->
        </div>
    </div>
</div>

<div class="modal fade" id="movie_modal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="movie_genre_modal" tabindex="-1" role="dialog" aria-labelledby="genreModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<!-- content body here... -->
        </div>
    </div>
</div>
<!-- end Modal -->

<script type="text/javascript">

	pageSetUp();
		
	var pagefunction = function() {
		$.datatable.display({
			id : 'dt_person_widget',
			url : '/rest/person/list',
			columns : 
				[		
					{
						'name' : 'id',
						'head' : { 'func' : $.common.upperCase }
					},
					{
						'name' : 'pid',
						'head' : { 'func' : $.common.upperCase }
					},
					{
						'name' : 'name',
						'head' : { 'func' : $.common.capitalize },
						'body' : { 'style' : 'font-weight: bold; color: #15428c; cursor: pointer;' },
						'data' : {
							'event' :  { 'name' : 'onClick', 'value' : 'javascript:goPersonPage(_ID_, _PID_)' }
						}
					},
					{
						'name' : 'job',
						'head' : { 'func' : $.common.capitalize }
					},
					{
						'name' : 'birthday',
						'head' : { 'func' : $.common.capitalize }
					}
				]
		});
		
		goPersonPage = function(id, pid) {
			$('#person_modal').modal('show').find('.modal-content').load('/page', {
				url : 'view/remote/person_modal.html',
				id : id,
				pid : pid
			});
		};
	};

	// load related plugins
	loadScript("js/common.js", function(){
		loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
					loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
					});
				});
			});
		});
	});

</script>
