<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-schedule"
				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="false"
				data-widget-sortable="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Keyword Movies</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget content -->
					<div id="dt_m2k_widget" class="widget-body no-padding">
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<!-- Modal -->
<div class="modal fade" id="k2m_modal" tabindex="-1" role="dialog" aria-labelledby="m2kModalLabel" aria-hidden="true"> <!-- data-backdrop="static" data-keyboard="false" -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<!-- content body here... -->
        </div>
    </div>
</div>
<!-- end Modal -->

<script type="text/javascript">

	pageSetUp();

	var pagefunction = function() {
	
		$.datatable.display({
			id : 'dt_m2k_widget',
			url : '/rest/recommend/k2m/list',
			columns : [{
				'name' : 'id',
				'head' : { 'style' : 'width: 120px;', 'func' : $.common.upperCase }
			}, {
				'key' : 'key',
				'name' : 'Keyword',
				'body' : { 'style' : 'font-weight: bold; color: #15428c; cursor: pointer;' },
				'data' : {
					'event' :  { 'name' : 'onClick', 'value' : 'javascript:goK2MPage(_ID_)' }
				}
			}, {
				'key' : 'scores',
				'name' : 'Count',
				'head' : { 'style' : 'width: 120px;' },
				'data' : { 'style' : 'width: 120px;', 'func' : function(data) { return data.length; } 
				}
			}]
		});
		
		goK2MPage = function(id, tid) {
			$('#k2m_modal').modal('show').find('.modal-content').load('/page', {
				url : 'view/remote/recommend/k2m_modal.html',
				id : id
			});
		};
		
	};

	loadScript("js/common.js", function(){
		loadScript("js/plugin/datatables/jquery.dataTables.min.js", function(){
			loadScript("js/plugin/datatables/dataTables.colVis.min.js", function(){
				loadScript("js/plugin/datatables/dataTables.tableTools.min.js", function(){
					loadScript("js/plugin/datatables/dataTables.bootstrap.min.js", function(){
						loadScript("js/plugin/datatable-responsive/datatables.responsive.min.js", pagefunction)
					});
				});
			});
		});
	});

</script>
