<html xmlns:th="http://www.thymeleaf.org">

<style>
	.simplmargin { margin: 0 0 15px }
	.zeromargin { margin: 0 }
	.tlabel { width: 120px; background-color: #f7f7f7; }
	.tvalue { min-width: 120px; max-width: 150px; }
	.tdnum { width: 120px; }
	.tdval { min-width: 120px; max-width: 150px; }
	.tdscore { width: 120px; }
	.tdsource { width: 250px; }
	.table-fixed { max-height: 370px; overflow-y: auto; }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Movie Keywords</h4>
</div>
<div class="modal-body">
    <div class="row">
    	<article class="col-sm-12">
    		
    		<div class="jarviswidget jarviswidget-color-blueDark simplmargin" id="wid-id-m2k-info" data-widget-colorbutton="false" data-widget-editbutton="false">
    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-info"></i> </span>
					<h2>Default Infomation</h2>
				</header>
				
				<div>
					<div class="widget-body no-padding">
						
						<table id="user" class="table table-bordered" style="clear: both">
							<tbody>
								<tr>
									<td class="tlabel">Title</td>
									<td class="tvalue" colspan="5" id="title"></td>
								</tr>
								<tr>
									<td class="tlabel">Director</td>
									<td class="tvalue" id="director" colspan="5"></td>
								</tr>
								<tr>
									<td class="tlabel">Actor</td>
									<td class="tvalue" id="actor" colspan="5"></td>
								</tr>
								<tr>
									<td class="tlabel">Genre</td>
									<td class="tvalue" id="genre"></td>
									<td class="tlabel">Star Score</td>
									<td class="tvalue" id="starScore"></td>
									<td class="tlabel">Openday</td>
									<td class="tvalue" id="openDay"></td>
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>
				
			</div>

    		<div class="jarviswidget jarviswidget-color-blueDark zeromargin" id="wid-id-m2k-data" data-widget-colorbutton="false" data-widget-editbutton="false">
    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
					<h2>Keywords</h2>
				</header>
				
				<div>
					<div class="widget-body no-padding">
						
						<div class="table-responsive table-fixed">
						
							<table id="m2ktable" class="table table-bordered">
								<thead>
									<tr>
										<th class="tdnum">No.</th>
										<th class="tdval">Keyword</th>
										<th class="tdscore">Score</th>
										<th class="tdsource">Source</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
				
    		</div>
    		
    	</article>
    	
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<script type="text/javascript">

	$(document).ready(function() {

		$.get('/rest/recommend/m2k/[[${params.id}]]').done(function(resp) {
		    if(resp.success) {
		    	var data = resp.data;
		    	var html = '';
		    	
		    	$('#title').text(data.title);
		    	$('#director').html($.common.link(data.director, ',', 'goPerson'));
		    	$('#actor').html($.common.link(data.actor, ',', 'goPerson'));
		    	$('#starScore').text($.common.toFixed(data.starScore));
		    	$('#genre').text($.common.link(data.genre, ','));
		    	$('#openDay').text($.common.dateFormat(data.openDay));
		    	
		    	for(var i in data.keywords) {
		    		var row = data.keywords[i];
		    		if(row.score == 0)
		    			break;
		    		
		    		var source = '';
		    		var names = Object.getOwnPropertyNames(row.source);
		    		for(var j in names) {
		    			source += $.common.lowerCase(names[j]) + ' : ' + $.common.toFixed(row.source[names[j]]);
		    			if(j != names.length - 1)
		    				source += ', ';
		    		}
		    		
					html += '<tr>';
					html += '<td>' + (Number(i) + 1) + '</td>';
					html += '<td><span class="link-keyword" onclick="javascript:goK2MPop(\'' + row.word + '\');">' + row.word + '</span></td>';
					html += '<td>' + $.common.toFixed(row.score) + '</td>';
					html += '<td>' + source + '</td>';
					html += '</tr>';
		    	};
		    	
		    	$('#m2ktable > tbody').html(html);
		    	
		    } else {
		    	alert(resp.message);
		    }
		});
		
		goPerson = function(name) {
			console.info(name);
		};
		
		goK2MPop = function(key) {
			$.get('/keyword/' + key).done(function(resp) {
				if(resp.success) {
					$('.modal-content').load('/page', {
						url : 'view/remote/recommend/k2m_modal.html',
						id : resp.id
					});
				} else {
					alert(resp.message);
				}
			});
		};

	});

</script>

</html>
