<html xmlns:th="http://www.thymeleaf.org">

<style>
	.simplmargin { margin: 0 0 15px }
	.zeromargin { margin: 0 }
	.tlabel { width: 120px; background-color: #f7f7f7; }
	.tvalue { min-width: 120px; max-width: 150px; }
	.tdscore { width: 120px; }
	.tdnum { width: 120px; }
	.tdval { min-width: 120px; }
	.tdtitle { min-width: 200px; }
	.tddirector { min-width: 100px; max-width: 102px; }
	.table-fixed { max-height: 370px; overflow-y: auto; }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Similar Movies</h4>
</div>
<div class="modal-body">
    <div class="row">
    	<article class="col-sm-12">
    		
    		<div class="jarviswidget jarviswidget-color-blueDark simplmargin" id="wid-id-m2m-info" data-widget-colorbutton="false" data-widget-editbutton="false">
    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-info"></i> </span>
					<h2>Default Infomation</h2>
				</header>
				
				<div>
					<div class="widget-body no-padding">
						
						<table id="user" class="table table-bordered" style="clear: both">
							<tbody>
								<tr>
									<td class="tlabel">Title</td>
									<td class="tvalue" colspan="5" id="title"></td>
								</tr>
								<tr>
									<td class="tlabel">Director</td>
									<td class="tvalue" id="director" colspan="5"></td>
								</tr>
								<tr>
									<td class="tlabel">Actor</td>
									<td class="tvalue" id="actor" colspan="5"></td>
								</tr>
								<tr>
									<td class="tlabel">Genre</td>
									<td class="tvalue" id="genre"></td>
									<td class="tlabel">Star Score</td>
									<td class="tvalue" id="starScore"></td>
									<td class="tlabel">Openday</td>
									<td class="tvalue" id="openDay"></td>
								</tr>
							</tbody>
						</table>
					
					</div>
				</div>
				
			</div>

    		<div class="jarviswidget jarviswidget-color-blueDark zeromargin" id="wid-id-m2m-data" data-widget-colorbutton="false" data-widget-editbutton="false">
    		
    			<header>
					<span class="widget-icon"> <i class="fa fa-sort-amount-desc"></i> </span>
					<h2>Movies</h2>
				</header>
				
				<div>
					<div class="widget-body no-padding">
						
						<div class="table-responsive table-fixed">
						
							<table id="m2mtable" class="table table-bordered">
								<thead>
									<tr>
										<th class="tdnum">No.</th>
										<th class="tdtitle">Title</th>
										<th class="tddirector">Director</th>
										<th class="tdscore">Score</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
				
    		</div>
    		
    	</article>
    	
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>


<script type="text/javascript">

	$(document).ready(function() {

		$.get("/rest/recommend/m2m/[[${params.id}]]").done(function(resp) {
		    if(resp.success) {
		    	var info = resp.data.info;
		    	var list = resp.data.list;
		    	var html = '';
		    	
		    	$('#title').text(info.title);
		    	$('#director').text(info.director);
		    	$('#actor').text(info.actor);
		    	$('#starScore').text($.common.toFixed(info.starScore));
		    	$('#genre').text(info.genre);
		    	$('#openDay').text($.common.dateFormat(info.openDay));
		    	
		    	for(var i in list.scores) {
		    		var row = list.scores[i];
		    		
		    		if(row.score == 0)
		    			break;
		    		
					html += '<tr>';
					html += '<td>' + (Number(i) + 1) + '</td>';
					html += '<td>' + row.title + '</td>';
					html += '<td>' + row.director + '</td>';
					html += '<td>' + $.common.toFixed(row.score) + '</td>';
					html += '</tr>';
		    	};
		    	
		    	$('#m2mtable > tbody').html(html);
		    	
		    } else {
		    	alert(resp.message);
		    }
		});

	});

</script>

</html>
